@import "./variables.less";

nav {
    background-color: @yellow;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 2%;
}

p {
    color: @primary-color;
}

button {
    padding: 1%;
    background-color: @yellow;
    font: @uppercase-links-color;
    border: none;
    border-radius: 10%;

}

.banner {
    opacity: 33%;
    z-index: 2;
}

.about {
    max-width: 70%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
}

.burger-pic {
    padding-bottom: 2%;
}

.dine {
    background-color: @light-gray;
}

footer {
    background-color: @primary-color;
}
