@primary-color: #080801;
@light-gray: #f3f3f3;
@yellow: #f8df1f;
@red: #ee252f;
@banner: #3b3838;


@heading-1: font-family: 'Roboto', sans-serif;
@heading-1-color: #050500;
@lowercase-heading: font-family: 'Roboto', sans-serif;
@lowercase-heading-color: #050500;
@heading-span: font-family: 'Roboto', sans-serif;
@heading-span-color: #ee252f;
@links: font-family: 'Roboto', sans-serif;
@links-color: #050500;
@uppercase-links: font-family: 'Roboto', sans-serif;
@uppercase-links-color: #050500;
@p: font-family: 'Roboto', sans-serif;
@p-color: #050500;
@button-text: font-family: 'Roboto', sans-serif;
@button-text-color: #050500;